*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.container{
    margin-left: 310px;
    margin-top: 40px;
    margin-right: 10px;
    overflow: hidden;
}

.container .buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.container .buttons button{
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    background-color: purple;
    color: white;
    font-size: 18px;
}

.container .buttons button:hover{
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(158, 43, 158);
    color: white;
    font-size: 18px;
}

.container .other-btns input, .container .other-btns select{
    outline: none;
    border: 2px solid purple;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 15px;
    height: 30px;
    font-size: 15px;
}

.container .other-btns label{
    font-size: 18px;
    color: purple;
}

.container table{
    width: 100%;
    margin: 10px 0;
}

.container table, th, td{
    border: 2px solid gray;
    padding: 4px;
    border-collapse: collapse;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
}
.close {
    float: right;
    font-size: 30px;
    cursor: pointer;
}

.modal .modal-content h2{
    color: purple;
    font-size: 1.5em;
    margin: 10px;
}

.modal .modal-content label{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.modal .modal-content input{
    outline: none;
    border: 2px solid purple;
    border-radius: 5px;
    padding: 4px 4px;
    width: 250px;
}

.modal .modal-content button{
    border: none;
    background-color: purple;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 16px;
    display: block;
}